#weather-dashboard{
    text-align: center;
    background-image: linear-gradient(to right, #3462bb , #20094b);
    color: white;
    font-size: 24px;
}

.search-column{
    padding: 0 15px 0 30px;
}

.box-headers{
    font-size: 24px;
    font-weight: bold;
}

#city-history{
    border-top: 2px black solid;
    padding-top: 5px;
    margin-top: 5px;
}
#city-search-button{
    margin: 4px 0 2px 0;
}

.historybutton{
    margin: 2px 0 2px 0;
}

#current-forecast{
    margin: 23px 0 0 0 ;
    border: 2px black solid;
}

.UVLow{
    background-color: green;
    width: fit-content;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    color: white;
}

.UVMedium{
    background-color: orange;
    width: fit-content;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    color: white;
}

.UVHigh{
    background-color: red;
    width: fit-content;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    color: white;
}

#five-day-title{
    padding: 0 0 0 5px;
}

.five-day-boxes{
    color: white;
    background-color: #2d3e50;
    margin: 8px 1% 0 1%;
    padding: 0 5px 10px 5px;
    border: 1px black solid;
}

#five-day-forecast{
    margin: 20px 0 0 0 ;
}